# General Variables
SSH_PUB_KEY_PATH="${HOME}/.ssh/id_rsa.pub"
SSH_PORT="2222"
SSH_USER="admin"

# Proxmox Template Variables
ROCKY_QCOW_URL="https://dl.rockylinux.org/pub/rocky/9/images/x86_64/Rocky-9-GenericCloud.latest.x86_64.qcow2"
QCOW_FILE="rocky9-stig.qcow2"
PROXMOX_VMID="9000"
PROXMOX_STORAGE="local-lvm"
PROXMOX_BRIDGE="vmbr0"

# Baremetal ISO Variables
ROCKY_MINIMAL_ISO_URL="https://dl.rockylinux.org/pub/rocky/9/isos/x86_64/Rocky-9-latest-x86_64-minimal.iso"
MINIMAL_ISO_FILE="rocky9-minimal.iso"
OUTPUT_ISO_FILE="rocky-9-stig-baremetal.iso"
# SECURITY WARNING: Replace this variable with a dynamic retrieval from HashiCorp Vault or AWS Secrets Manager in production.
KS_ROOT_PASSWORD="StigAdmin123!"
